body, main, div, header, i {
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    margin-right: auto;
    padding: 20px;
    font-size: 20px;
}

main {
    display: flex;
	flex-direction: column;
    align-items: center;
	gap: 40px;
}

h1 {
    margin: 0 auto 0 180px; 
    text-justify: center;
    text-align: left;
}

h3 {
    margin: 0 auto 0 200px; 
    text-justify: center;
    text-align: left;
}

hr {
    margin: 20px 0 0 100px;
    width: 80%;
}

.box_row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
} 

.box_column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.profile_img{
    border-radius: 50%;
    margin: 0 50px 0 100px;
    width: 300px;
    height: 300px; 
}

.skill_img{
    font-size: 100px;
    margin: 20px 5px 0 20px;
}
.text {
    margin: 0;
    padding-top: 0;
    font-size: 25px;
    font-weight: bold;
    font-family: system-ui;
    line-height: 2.0;
}

